body {
	background-color: rgb(153, 255, 204, 0.6);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
  }

#domain {
	display: flex;
	flex-direction: row;
}

#domain .spec {
	margin-left: 10px;
}

#topic {
	display: flex;
	flex-direction: row;
}

#topic .spec {
	margin-left: 10px;
}