.header {
    margin-left: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 280px;
	justify-content: center;
	align-items: center;
	color: white
}

.meat {
    margin-left: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 280px;
	justify-content: center;
	align-items: center;
	color: white
}

html {
	background-color:rgb(52,53,65);
}

p.desc {
	display: none; 
}
